<div>
  <h1>About Us</h1>
  <p>Welcome to Startups Resource, a platform dedicated to showcasing the innovative and dynamic startups that are thriving in the Kingdom.</p>
  <h2>Who we are?</h2>
  <p>We are a group dedicated to showcasing and supporting the vibrant startup ecosystem in Jordan. Through a range of events and initiatives, we aim to connect startups with resources, mentors, and investors, as well as raise awareness of the innovative and ambitious businesses that are driving growth and positive change in the country. Our team is composed of individuals from various backgrounds and sectors, all united by a passion for entrepreneurship and a belief in the potential of Jordan's startup community. We are committed to fostering a supportive and inclusive environment for all members of the ecosystem, and are excited to see what the future holds for Jordan's entrepreneurial landscape.</p>
  <h2>Our Vision</h2>
  <p>Our vision is to be the go-to destination for anyone looking to learn about and connect with the thriving startup ecosystem in Jordan. We aim to provide a comprehensive and up-to-date directory of startups, as well as valuable resources and tools to help these businesses succeed. Ultimately, our goal is to help position Jordan as a hub for entrepreneurship and to support the growth and success of the country's startup community. We believe that by empowering and highlighting the creativity and potential of Jordan's entrepreneurs, we can contribute to the country's economic development and global competitiveness.</p>
  <h2>Our Objectives</h2>
  <p>Our objectives for the website are as follows:</p>
  <ol>
    <li>To provide a comprehensive directory of startups in Jordan, featuring profiles and contact information for each business.</li>
    <li>To highlight the innovative and ambitious businesses that are driving growth and positive change in the country.</li>
    <li>To showcase the diverse and thriving startup ecosystem in Jordan, and to position the country as a hub for entrepreneurship.</li>
    <li>To support the growth and success of Jordan's startup community, and to contribute to the country's economic development and global competitiveness.</li>
  </ol>
<!--  <p>Our mission is to highlight the talented entrepreneurs and their innovative ideas that are driving economic growth and development in Jordan. We believe that by shining a spotlight on these emerging companies</p>-->
<!--  <p>On our site, you'll find profiles of a wide range of startups across a variety of sectors, including technology, healthcare, finance, and more.</p>-->
<!--  <p>We are committed to supporting the growth and success of Jordan's startup ecosystem, and we hope that our platform will serve as a valuable resource for entrepreneurs looking to make their mark in the world.</p>-->
<!--  <p>Thank you for visiting Startups Resource. We hope you'll join us in celebrating the incredible talent and innovation that exists within the startup community in Jordan.</p>-->
</div>
