<div class="page-container">
  <h1>Login</h1>
  <form [formGroup]="loginForm">
    <mat-form-field>
      <mat-label for="email">Email</mat-label>
      <input matInput id="email" formControlName="emailControl">
      <mat-error *ngIf="loginForm.controls['emailControl'].hasError('required')">Email is required</mat-error>
      <mat-error *ngIf="loginForm.controls['emailControl'].hasError('email')">Email formatting is wrong</mat-error>
    </mat-form-field>
    <mat-form-field>
      <mat-label for="password">Password</mat-label>
      <input matInput id="password" formControlName="passwordControl">
      <mat-error *ngIf="loginForm.controls['passwordControl'].hasError('required')">Password is required</mat-error>
    </mat-form-field>
    <button mat-raised-button color="primary">Login</button>
  </form>
  <a routerLink="../register" class="register">Don't have an account?</a>
</div>
